/* Start My Personal Theme */
:root {
  --primary: #06BBCC;
  --light: #F0FBFC;
  --dark: #181d38;
}

body{
  transition: all 0.5s;
}

.title{
  font-size: 19px;
  font-style: italic;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #06BBCC;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

.btn {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #FFFFFF;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-theme {
  position: fixed;
  bottom: 30px;
  left: 20px;
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 0px;
}

.section-title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.section-title::before {
  position: absolute;
  content: "";
  width: calc(100% + 80px);
  height: 2px;
  top: 4px;
  left: -40px;
  background: var(--primary);
  z-index: -1;
}

.section-title::after {
  position: absolute;
  content: "";
  width: calc(100% + 120px);
  height: 2px;
  bottom: 5px;
  left: -60px;
  background: var(--primary);
  z-index: -1;
}

.section-title.text-start::before {
  width: calc(100% + 40px);
  left: 0;
}

.section-title.text-start::after {
  width: calc(100% + 60px);
  left: 0;
}
/* End My Personal Theme */


/* Start nav */
.sticky-top {
  z-index: 7000;
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: #FFFFFF;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link  {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar-light .navbar-nav {
    border-top: 1px solid #EEEEEE;
  }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
  height: 75px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--dark);
  font-weight: 500;
}

.navbar-light.sticky-top {
  top: -100px;
  transition: .5s;
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
  }

  .navbar-light .navbar-nav .nav-link {
    margin-right: 26px;
  }

  .navbar .dropdown-menu.fade-down {
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    transform: rotateX(0deg);
    visibility: visible;
    transition: .5s;
    opacity: 1;
  }
}
/* Start Media For nav */
@media (min-width: 992px) and (max-width: 1199px) {        /* Large Screen Rules */
  .navbar h2{
    font-size: 26px;
  }
}
/* End Media For nav */
/* End nav */

/* Start Section home */
.home p {
  color: rgba(219, 219, 219, 1);
}

.home p span {
  color: #06BBCC;
}

@media (max-width: 768px) {
  .header-carousel .owl-carousel-item {
    position: relative;
    min-height: 500px;
  }
    
  .header-carousel .owl-carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.header-carousel .owl-nav {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  margin: 7px 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: transparent;
  border: 1px solid #FFFFFF;
  font-size: 22px;
  transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.page-header {
  background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/carousel-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header-inner {
  background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
}
/* End Section home */

/* Start Section study-in-egypt */
.study-in-egypt h5 span {
  color: #06BBCC;
}

.study-in-egypt p span {
  color: #06BBCC;
  font-weight: bold;
}
/* End section study-in-egypt */

/* Start Section exam */
.exams {
  background-image: url("../img/exams.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 0;
  height: 80vh;
  position: relative;
  z-index: 2000;
}

.exams::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.exams .content {
  color: #fff;
  z-index: 5000;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.exams .content h2{
  color: #fff;
}

.exams p{
  font-size: 23px;
}

.exams p span {
  color: #2bc5d4;
}

.exams-taps .exam{
  padding: 20px;
  margin: 10px 0px;
  border-radius: 5px;
  border-left: 3px solid orange;
}

.exams-taps .exam p{
  color: #fff;
}

.exams-taps .general{
  background-color: #00eaff; 
}

.exams-taps .inter-general{
  background-color: #019dac;
}

.exams-taps .act{
  background-color: #15595f;
}

.exams-taps .German-Abitur{
  background-color: #0de9d6;
}

.exams-taps .French-Baccalaureate{
  background-color: #0ae6a4;
}

.exams-taps .Cambridge{
  background-color: #006938;
}

.exams-taps .last{
  background-color: black;
  color: aqua;
  padding: 18px;
  border-radius: 5px;
  border-left: 3px solid orange;
}
/* Start Media For Section Exams */
@media(max-width: 767px) {                  /* Mobile screen rules */
  .exams p{
    font-size: 16px;
  }
}
/* End Media For Section Exams */
/* End section exam */

/* Start Section visit-egypt */
.visit-egypt{
  background-color: #eaeaea;
  padding: 30px;
}

.accordion {
  color: black;
  background-color: white;
  padding: 45px 45px;
}

.accordion .container {
  position: relative;
  margin: 10px 10px;
}

.accordion .label {
  position: relative;
  padding: 10px 0;
  font-size: 30px;
  color: black;
  cursor: pointer;
}

.accordion .label::before {
  content: '+';
  color: black;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

.accordion .content {
  position: relative;
  background: white;
  height: 0;
  font-size: 20px;
  width: 780px;
  overflow: hidden;
  transition: 0.5s;
}

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}

.accordion .container.active .content {
  height: auto;
}

.accordion .container.active .label::before {
  content: '-';
  font-size: 30px;
}
/* Start Media For Section visit-egypt */
@media(max-width: 767px){                      /* Small Screen Rules */
  .accordion .label {
    font-size: 20px;
  }

  .accordion .content{
    width: 100%;
  }

  .accordion .content ul {
    line-height: 2.3;
  }

  .accordion .content ul li {
    font-size: 14px;
  }

  .accordion-body p {
    font-size: 16px;
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .accordion .label {
    font-size: 25px;
  }

  .accordion .content{
    width: 100%;
  }

  .accordion .content ul {
    line-height: 2.3;
  }

  .accordion .content ul li {
    font-size: 19px;
  }

  .accordion-body p {
    font-size: 21px;
  }
}
/* End Media For Section visit-egypt */
/* End Section visit-egypt */

/* Start Section visa-requirment */
.visa-requirement {
  padding-top: 30px;
}

.visa-requirement h6 span {
  color: #06BBCC;
}

.visa-requirement .box{
  background-color: #2bc5d4;
  color: #fff;
  padding: 17px;
  margin: 23px 0px;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
  height: 195px;
  border-left: 4px solid orange;
}

.visa-requirement .box:hover{
  background-color: #0adaec;
  transform: scale(1.1, 1.1);
  transition: all 0.5s;
}

.visa-requirement .box h6{
  color: #fff;
}

.visa-note{
  background-color: black;
  color: aqua;
  padding: 18px;
  border-radius: 5px;
  border-left: 3px solid orange;
}
/* End Section visa-requirment */

/* Start section have-question */
.have-question{
  background-color: #d7d7d7;
  padding: 47px;
}
/* End section have-question */

/* Start footer */
footer{
  background-color: #181d38;
  color: #fff;
  padding: 20px 0px;
}

footer ul {
  list-style-type: none;
}

footer h5{
  color: #fff;
}

footer h6{
  color: #fff;
}

footer a {
  color: #c5c5c5;
}

.up {
  position: fixed;
  bottom: 20px;
  right: -60px;
  background-color: #06BBCC;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  font-family: Arial, Tahoma;
  cursor: pointer;
  transition: all 0.2s;
}
  
.up.show {
  right: 10px;
}

footer h2{
  color: #fff;
  padding: 20px 0px;
}